<div class="step-wrapper">
  <app-form-generator
    [formName]="step.formName"
    [fields]="step.form"
    [formId]="step.formId"
  ></app-form-generator>
  <div id="step-action-buttons-wrapper">
    <button class="fa-raised-button" *ngIf="!isFirstStep" mat-button matStepperPrevious>Back</button>
    <button class="fa-raised-button" *ngIf="!isLastStep; else submitBtn" mat-button matStepperNext (click)="isFormValid()">
      {{step.stepType.optional ? 'Skip' : 'Next'}}
    </button>
    <ng-template #submitBtn>
      <button class="fa-raised-button" type="submit" mat-button (click)="submit()">Submit</button>
    </ng-template>
  </div>
</div>
