#left-side {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;

  label {
    display: block;
  }

  textarea {
    position: relative;
    width: 90%;
    height: 850px;
  }

  textarea:nth-child(1) {
    margin-bottom: 30px;
  }
}

#right-side {
  position: relative;
  width: 75%;
  height: 100%;
  display: inline-block;
}
