<mat-horizontal-stepper linear #stepper *ngIf="steps" >
  <mat-step class="wizard-step" *ngFor="let step of steps" [stepControl]="formsList[stepper.selectedIndex]"
            [optional]="step.stepType.optional"
            [editable]="step.stepType.editable">
    <ng-template matStepLabel>{{step.stepLabel}}</ng-template>
    <app-step class="app-step"
      [isFirstStep] = "stepper.selectedIndex === 0"
      [isLastStep] = "stepper.selectedIndex === formsList.length-1"
      [step] = "step"
      [form] = "formsList[stepper.selectedIndex]"
      (wizardSubmitted) = "notifyWizardSubmitted($event)"
    ></app-step>
  </mat-step>

</mat-horizontal-stepper>

