<mat-horizontal-stepper *ngIf="steps">
  <mat-step *ngFor="let step of steps"
            [optional]="step.stepType.optional"
            [editable]="step.stepType.editable"
            [completed]="step.stepType.completed"
  >
    <!--<form>-->
      <!--<ng-template matStepLabel>{{step.stepLabel}}</ng-template>-->
      <!--<mat-form-field>-->
        <!--<div *ngFor="let item of step.form | keyvalue">-->
          <!--<label>{{item.key}}</label>-->
          <!--<input matInput value="{{item.value}}" required>-->
        <!--</div>-->
      <!--</mat-form-field>-->
    <!--</form>-->
    <app-form-generator [formName]="step.formName" [fields]="step.form"></app-form-generator>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>

